@media only screen and (max-width:740px){
    #wrapper{width: 100%;}
    h2{
        text-align: center 
    }
}
@media only screen and (max-width:570px){
    header{
        display: flex;
        flex-direction: column;
    }
    header img {
        position: relative;
        align-self: center;
    }
    h2{
        text-align: center 
    }
}
@media only screen and (max-width:480px){
    header{
        display: flex;
        flex-direction: column;
    }
    header img {
        position: relative;
        align-self: center;
    }
    h2{
        text-align: center 
    }
}
