html, button, input, select, textarea{
    color: #144;
}
html{ 
    font-size: 1em; 
    line-height: 1.4;
    background-color:	#5D4954;
}

#wrapper{
    max-width: 900px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}



header{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

h1{
    font-family: 'Alkalami', serif;
}

h2.round {
    border: 2px solid rgb(255, 0, 234);
    border-radius: 12px;
    padding: 5px;
  }

  #body{
    display: flex;
}
#info{
    background-size: contain;
    flex: 1;
    line-height: 1.4;

    border-right: 2px solid gray;
    margin: 10px;
}
#info>table{
    padding: 10px;
    text-align: center;
}
#content{

    width:70%;
    text-align: center;
}


#header{
  height:15%;
  width: inherit;
  background-color:azure;
  display: flex;
}

#pic{
  height:100px;
  border: 0px ;
  border-radius: 50%;

}
#function{
  flex: 1;
  margin: 2%;
  color: gray;

}

#picpro{
  position: absolute; 
  right: 30%;
  top: 3%;
  border: 1px solid #ccc; 
  border-radius: 3px;
  padding: 0px;
  width: 220px;
  height: 180px;
}

.timeline{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.stg1content{
  border-left: 1px solid #5D4954;
  padding: 1rem;
  position: relative;
}









.python {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.python::before {
  content: "\f006 \f006 \f006";
}



.java {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.java::before {
  content: "\f006 \f006 \f006 \f006";
}

.vbnet {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.vbnet::before {
  content: "\f006 \f006 \f006 \f006";
}

.shell {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.shell::before {
  content: "\f006 \f006 \f006";
}



.sql2 {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.sql2::before {
  content: "\f006 \f006 \f006 \f006";
}

.sql3 {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.sql3::before {
  content: "\f006 \f006 \f006";
}

.mongo {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.mongo::before {
  content: "\f006 \f006 \f006";
}

.linux {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.linux::before {
  content: "\f006 \f006 \f006 \f006";
}

.windows {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.windows::before {
  content: "\f006 \f006 \f006 \f006";
}

.UML {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.UML::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.ro {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.ro::before {
  content: "\f006 \f006 \f006 \f006";
}

